.profile-badges {
    width: 90px;
    float:right;
    height: 90px;
    background-color: #eee;
    border-radius: 3px;
    margin-right: 5px;
}

.avatar-article {
    float:right;
    border: 5px #dcdcdc solid;
    border-radius:3px;
    margin-left: 15px;

}

.avatar-profile{
    float:left;
    border: 5px #dcdcdc solid;
    border-radius:3px;
    margin-right: 11px;
}

.settings-bar{
    margin-top: -25px;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    background:url('../images/bgs/settings_bg.jpg');
    padding-bottom: 68px;
}

.modpacks-bar{
    margin-top: -25px;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    background:url('../images/bgs/modpacks_bg.jpg');
    padding-bottom: 68px;
}

.admincp-bar{
    margin-top: -25px;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    background:url('../images/bgs/admincp_bg.jpg');
    padding-bottom: 68px;
}

.badge-official{
    background-color: #3cc133 !important;
}
.badge-server{
    background-color: #3337c1 !important;
}
.footer-bottom {
    padding: 40px 0 30px;
    border-top: 1px solid #666;
    background: #1e1e1e;
}
.copyright-text p {
    color: #ccc;
    margin-top: 9px;
    margin-bottom: 0;
}
.social-link li {
    display: inline-block;
    margin: 0 5px;
}
.social-link li a {
    color: #ccc;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    transition: .5s;
}